{% extends 'posts/layout.html' %}
{% load static %}

{% block content %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/posts/images/img1.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto detailHead">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <span class="meta"><p>Posted by
                <a href="#">{{ post.author }}</a>
                on {{post.created_at}}</p></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto content">
            <p>{{post.content}}</p>
          </div>
        </div>
      </div>
    </article>

    <div class="container center">

    {% if user.is_authenticated %}
      <a class="btn btn-primary" href="/{{post.id}}/update" role="button">update</a>

      <a class="btn btn-primary" href="/{{post.id}}/delete" role="button">delete</a>
    {% endif %}
      <a class="btn btn-primary" href="/" role="button">Go back</a>

    </div>



{% endblock %}
